#!/bin/sh

# rdp clipboard
RDPCLIP=/usr/bin/rdpclip
if [ -x $RDPCLIP ]; then
        $RDPCLIP &
fi

# rdp device redirector
RDPDR=/usr/bin/rdpdr
if [ -x $RDPDR ]; then
        $RDPDR "--mountpointrule={HOME}/rdpfiles/{CLIENTNAME}/{DEVICENAME}/" &
fi

# rdp audio
PULSE=/opt/ogon/bin/pulseaudio
if [ -x $PULSE ] && [ ! -z $OGON_SID ]; then
        export PULSE_RUNTIME_PATH=/tmp/.rdpsnd-$OGON_SID/
        export PULSE_STATE_PATH=$PULSE_RUNTIME_PATH
        export HOME=$PULSE_RUNTIME_PATH
        $PULSE --start
        # if not configured to use x11 publish the following can be used
        #if [ $? -eq 0 ] && [ x"$DISPLAY" != x ] ;then
        #        /opt/ogon/bin/pactl load-module module-x11-publish "display=$DISPLAY"
        #fi
fi

