Makefile
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
*.DS_Store
.project
.cproject
Testing/
config.h
buildflags.h
DartConfiguration.tcl
include/ogon/build-config.h
include/ogon/version.h
ogon*.pc
ogonConfig.cmake
ogonConfigVersion.cmake
*.init
*.service
*.pb.cc
*.pb.h
*.pb-c.c
*.pb-c.h
*.so
*.so.*
*.a
*.o
external
.idea
