#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

ifneq (,$(filter armhf,$(DEB_HOST_ARCH)))
ARM_FLOAT_ABI = -DARM_FP_ABI=hard
else
ARM_FLOAT_ABI =
endif

NULL =

DESTDIR = debian/tmp

DEB_CMAKE_EXTRA_FLAGS :=  -DCMAKE_INSTALL_INCLUDEDIR=include/$(DEB_HOST_MULTIARCH) \
	-DCMAKE_SKIP_RPATH=FALSE \
	-DCMAKE_SKIP_INSTALL_RPATH=TRUE \
	-DWITH_DBUS=ON \
	-DWITH_PAM=ON \
	-DCMAKE_BUILD_TYPE=RELWITHDEBINFO \
	-DCMAKE_SKIP_RPATH=FALSE \
	-DCMAKE_SKIP_INSTALL_RPATH=FALSE \
	-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
	-DSYSCONFDIR=/etc \
	-DLOCALSTATEDIR=/var \
	-DWITH_OPENH264=ON \
	-Wno-dev \
	$(ARM_FLOAT_ABI) \
	$(NULL)

%:
	dh $@ --parallel --with systemd

.PHONY: override_dh_auto_configure override_dh_install override_dh_strip
override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CMAKE_EXTRA_FLAGS)

override_dh_install:
	mkdir -p $(DESTDIR)/debian
	cp obj-$(DEB_HOST_GNU_TYPE)/misc/ogon-session-manager.service debian/ogon-core.ogon-session-manager.service
	cp obj-$(DEB_HOST_GNU_TYPE)/misc/ogon-rdp-server.service      debian/ogon-core.ogon-rdp-server.service
	cp obj-$(DEB_HOST_GNU_TYPE)/misc/ogon-session-manager.init    debian/ogon-core.ogon-session-manager.init
	cp obj-$(DEB_HOST_GNU_TYPE)/misc/ogon-rdp-server.init         debian/ogon-core.ogon-rdp-server.init
	cp obj-$(DEB_HOST_GNU_TYPE)/misc/config.ini.debian            $(DESTDIR)/etc/ogon/config.ini
	cp misc/pam.d/ogon.debian                                     debian/ogon-core.ogon.pam
	dh_install
	dh_missing --fail-missing

override_dh_strip:
	dh_strip -pogon-core --dbg-package=ogon-core-dbg
	dh_strip -plibogon-backend1 --dbg-package=libogon-backend1-dbg

override_dh_clean:
	dh_clean

override_dh_systemd_enable:
	  dh_systemd_enable -p ogon-core debian/ogon-core.ogon-rdp-server.service
	  dh_systemd_enable -p ogon-core debian/ogon-core.ogon-session-manager.service

override_dh_systemd_start:
	dh_systemd_start -p ogon-core debian/ogon-core.ogon-rdp-server.service
	dh_systemd_start -p ogon-core debian/ogon-core.ogon-session-manager.service

override_dh_installpam:
	dh_installpam -p ogon-core --name=ogon

override_dh_installinit:
	dh_installinit -p ogon-core --name ogon-rdp-server
	dh_installinit -p ogon-core --name ogon-session-manager
